#playername{
    float:     right;
    font-size: 20px;
    margin:    10px 0 0;
    width:     157px;
    clear:     right;
}
#scores{
    position: absolute;
    display: none;
    z-index: 10;
}
.score{
    background: none repeat scroll 0 0 #EDCF72;
    color: #776E65;
    height: 40px;
    line-height: 40px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.score .score{
    width: 60px;
    background-color: #F2B179;
    color: #F9F6F2;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    height: 40px;
    display: block;
}
.score .name{
    width: 130px;
    background-color: #EDE0C8;
    margin-right: 10px;
    float: left;
    overflow: hidden;
    display: block;
    height: 40px;
    border-radius: 10px;
}